{% extends "header.html" %}
{% block content %}

<!-- <div class="main"> -->
    <div class="">
        <br>
        <br>
        <hr>
        <center><h2 > Change Password </h2>
        <hr>
        <br>
      </div>

    <div class="col-5">

    </div>
    <div class="col-3    container d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-secondary" type="submit">Save changes</button>
        </form>
    </div>
</div>
<!-- </div> -->

{% endblock content %}