{% extends 'header.html' %}
{% block title %} Snackify | Search for Similar Recipes {% endblock title %}
{% block content %}


<div class="hero-image">
    <div class="txt">

      <div class="row">
        <div class="col-6">
          <h1 class="container p-5 my-3 text-right" style="background-color: rgba(0,0,0,0.5)"> Write the name of a recipe and we will recommend you other recipes with similar nutritional value! </h1>
        </div>
        
        <div class="col">
          <form class="form-inline my-2 my-lg-0 d-flex justify-content-center" action="{% url 'nutrition_recipes'%}" method="get">
            <input class=" " name="nutr" list="nutr" placeholder="Search..." />
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>

    </div>
</div>

<datalist id="nutr">
  {% if recipes.any %}
      {% for i in recipes.Name%}
          <option value="{{i}}">{{i}}</option>
      {% endfor%}
  {% endif %}
</datalist>


{% endblock content %}