{% extends 'header.html' %}

{% block title %}
    {% if user_prof.first_name%}
      Snackify | {{user_prof.first_name}}'s Profile
    {% else %}
      Snackify | {{user_name}}'s Profile
    {% endif %}
{% endblock title %}

    {% block content %}

        {% load static %}


  <div class="">
    <br>
    <br>
    <hr>
    <!-- <center><h2>{{user_prof.user_name}}'s Profile</h2> -->
    {% if user_prof.first_name%}
      <center><h2>{{user_prof.first_name}}'s Profile</h2>
    {% else %}
    <center><h2>{{user_name}}'s Profile</h2>
    {% endif %}
    <hr>
    <br>
  </div>

  <div class="card-deck">
    <div class="col-4 pb-4">
      <div class="card" id="res">
        <div class="card-body">
          <img src="/static/{{ user_prof.image }}" class="d-block rounded float-right" alt="{{user_name}}">
            <!-- <h5 class="card-title">{{user_prof.first_name}} {{user_prof.last_name}}</h5> -->
            
            {% if user_prof.first_name and user_prof.last_name%}
            <h5 class="card-title">{{user_prof.first_name}} {{user_prof.last_name}}</h5>
            {% else %}
            <h5 class="card-title"> Name: -</h5>
            {% endif %}

            <!-- <p class="card-text text-muted" style="font-size:15px"><i>{{user_prof.user_name}}</i></p> -->
            {% if user_name%}
              <p class="card-text text-muted" style="font-size:15px"><i>{{user_name}}</i></p>
            {% else %}
              <p class="card-text text-muted" style="font-size:15px"> Username: <i>-</i></p>
            {% endif %}
            
            {% if user_prof.birthday%}
              <div class="card-text text-muted" style="font-size:15px">Birthday: <i>{{user_prof.birthday}}</i></div>
            {% else %}
              <div class="card-text text-muted" style="font-size:15px"> Birthday: <i>-</i></div>
            {% endif %}
            
            {% if user_prof.city%}
              <div class="card-text text-muted" style="font-size:15px">City: <i>{{user_prof.city}}</i></div>
            {% else %}
              <div class="card-text text-muted" style="font-size:15px">City: <i>-</i></div>
            {% endif %}
            <br>
        </div>
      </div>
    </div>
      
    <div class="col-4 pb-4">
      {% if recipes%}
      <div class="card" id="res">
        <div class="card-header">
          <h5><a href= "{% url 'more_recipes' user_name%}" class="link-dark">{{user_name}}'s Recipes</a><small style="font-size:13px;"> (Click for more...)</small></h5>
        </div>
        
        <div class="card-body">
          {% for i in recipes%}
          <div class="card lnk" id="res">
          <img src="{{ i.Images }}" class="d-block rounded float-left card-img-top"  style="width: 100%; height: 8rem; object-fit: cover;" alt="{{i.Name}}">
          <!-- <div class="card-img-overlay"> -->
            <a class="" href="{% url 'recipe_page' i.RecipeId %}">{{i.Name}}</a>
            <p class="card-text text-muted" style="font-size:15px"><i> - by {{i.AuthorName}}</i></p>
          <!-- </div> -->
        </div>
        <br>
            {%endfor%}
      </div>
      </div>
      {% else %}
      <div class="card" id="res">
        <div class="card-header">
          <div class="text-muted lnk"> This user hasn't uploaded any recipes yet. </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-4 pb-4">
      {% if user_favorite%}
      <div class="card" id="res">
        <div class="card-header">
          <h5><a href= "{% url 'more_favorite' user_name%}" class="link-dark">{{user_prof.first_name}}'s Favorite Recipes</a><small style="font-size:13px;"> (Click for more...)</small></h5>
        </div>

        <div class="card-body">
          {% for i in user_favorite%}
          <div class="card lnk" id="res">
          <img src="{{ i.Images }}" class="d-block rounded float-left"  style="width: 100%; height: 8rem; object-fit: cover;" alt="{{i.Name}}">
            <a class="" href="{% url 'recipe_page' i.RecipeId %}">{{i.Name}}</a>
            <p class="card-text text-muted" style="font-size:15px"><i>{{i.AuthorName}}</i></p>
          </div>
          <br>
            {%endfor%}
        </div>
      </div>
      {% else %}
      <div class="card" id="res">
        <div class="card-header">
          <div class="text-muted lnk"> This user hasn't added any recipes to their favorites yet. </div>
        </div>
      </div>
      {% endif %}
    </div>
</div>

  <div class="">
    <br>
    <hr>
    {% if user_prof.first_name%}
      <center><h2>{{user_prof.first_name}}'s Reviews</h2>
    {% else %}
      <center><h2>{{user_name}}'s Reviews</h2>
    {% endif %}
    <hr>
    <br>
  </div>
  
  <div class="">
  
    {% if user_reviews1 or user_reviews2 %}
      {% if user_reviews1 %}
        {% for i in user_reviews1 %}
          <div class="card" id="reviews">
            <div class="card-header d-flex justify-content-between">
              <div class="text-muted lnk"> - for <i><a class="" target="_blank" href="{% url 'recipe_page' i.RecipeId_id %}">{{i.RecipeId.Name}} </a></i></div>
              <div class="text-muted">{{i.DateSubmitted}}</div>
            </div>
            <div class="card-body">
              <blockquote class="">
                <p>{{i.Review}}</p>
                <footer class="blockquote-footer">{{i.Rating}}/5 <i class="fa fa-star"></i></footer>
              </blockquote>
            </div>
          </div>
        {% endfor %}
      {% elif user_reviews2 %}
        {% for i in user_reviews2 %}
          <div class="card" id="reviews">
            <div class="card-header d-flex justify-content-between">
              <div class="text-muted lnk"> - for <i><a class="" target="_blank" href="{% url 'recipe_page' i.RecipeId_id %}">{{i.RecipeId.Name}} </a></i></div>
              <div class="text-muted">{{i.date}}</div>
            </div>
            <div class="card-body">
              <blockquote class="">
                <p>{{i.review}}</p>
                <footer class="blockquote-footer">{{i.rating}}/5 <i class="fa fa-star"></i></footer>
              </blockquote>
            </div>
          </div>
        {% endfor %}
      {% else %}
          <p> .|. </p>
      {% endif %}
    {% else %}
        <div class="card" id="reviews">
          <div class="card-header d-flex justify-content-between">
            <div class="text-muted lnk"> This user hasn't reviewed any recipes yet. </div>
            <!-- <div class="text-muted">{{i.date}}</div> -->
          </div>
        </div>
      {% endif %}
    </div>
<!-- </div> -->




    {% endblock %}